@charset "UTF-8";
@import 'https://fonts.googleapis.com/css2?family=Cardo:ital@0;1&family=Kaushan+Script&family=Montserrat:wght@700&family=Open+Sans:wght@400;600;700&family=Poppins&family=Raleway:wght@400;500;700;900&display=swap';
@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css';
* {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

:focus, :active {
  outline: none;
}

a:focus, a:active, a:link {
  outline: none;
  color: inherit;
}

button {
  cursor: pointer;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

.firstscreen {
  padding: 39px 0 120px;
  background: url("../img/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.firstscreen::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(37, 43, 73, 0.8);
}
.firstscreen .container {
  position: relative;
  z-index: 1;
}
@media (max-width: 1300px) {
  .firstscreen {
    min-height: 100vh;
  }
}

.header {
  padding-bottom: 36px;
  margin-bottom: 130px;
  border-bottom: 1px solid #babbc5;
}
.header .header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 767px) {
  .header {
    margin-bottom: 80px;
  }
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.31rem;
  text-transform: uppercase;
  color: #656980;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.header-logo:after {
  content: "BOX";
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.31rem;
  text-transform: uppercase;
  color: #fff;
  margin-left: -5px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.header-logo:hover {
  color: #fff;
}
.header-logo:hover::after {
  color: rgba(255, 67, 67, 0.7);
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-list li {
  display: inline-block;
  margin-left: 77px;
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.nav-list li::after {
  content: "";
  position: absolute;
  left: 0%;
  top: 100%;
  -webkit-transform-origin: center;
          transform-origin: center;
  width: 100%;
  height: 1px;
  background-color: transparent;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}
.nav-list li:hover {
  color: rgba(255, 67, 67, 0.9);
}
.nav-list li:hover::after {
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  background-color: #fff;
  width: 100%;
}
@media (max-width: 1024px) {
  .nav-list li {
    margin-left: 30px;
  }
}
@media (max-width: 767px) {
  .nav-list li {
    display: none;
  }
}

.firstscreen-title {
  font-family: "Raleway", sans-serif;
  font-size: 4rem;
  font-style: normal;
  font-weight: 900;
  line-height: 4.69rem;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  margin-bottom: 32px;
}
@media (max-width: 1200px) {
  .firstscreen-title {
    font-size: 3rem;
    line-height: 3.69rem;
  }
}
@media (max-width: 767px) {
  .firstscreen-title {
    font-size: 2rem;
    line-height: 2.69rem;
  }
}

.firstscreen-subtitle {
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.56rem;
  text-align: center;
  color: #fff;
  margin-bottom: 80px;
}
@media (max-width: 767px) {
  .firstscreen-subtitle {
    font-size: 1.2rem;
    line-height: 1.3rem;
  }
}

.firstscreen-link {
  max-width: 370px;
  margin: auto;
  text-align: center;
  background-color: #ff4343;
  border-radius: 25px;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}
.firstscreen-link:hover > a {
  color: #ff4343;
}
.firstscreen-link:hover {
  background-color: #fff;
}
.firstscreen-link a {
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 900;
  line-height: 1.75rem;
  color: #fff;
  text-transform: uppercase;
  line-height: 80px;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}
@media (max-width: 767px) {
  .firstscreen-link {
    max-width: 300px;
  }
  .firstscreen-link a {
    line-height: 70px;
  }
}
@media (max-width: 767px) {
  .firstscreen-link {
    max-width: 300px;
  }
  .firstscreen-link a {
    line-height: 70px;
  }
}
@media (max-width: 360px) {
  .firstscreen-link {
    max-width: 280px;
  }
  .firstscreen-link a {
    line-height: 60px;
    font-size: 1.3rem;
  }
}

.burger--none {
  display: none;
}
@media (max-width: 767px) {
  .burger--none {
    display: block;
    margin-top: -5px;
  }
}

.burger {
  width: 30px;
  height: 30px;
  border: 2px solid #ada9a9;
  padding: 3px 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.burger__line {
  border-top: 2px solid #ada9a9;
}

.features {
  padding: 116px 0 40px;
}
@media (max-width: 1200px) {
  .features {
    padding-bottom: 0;
  }
  .features .container {
    max-width: 970px;
  }
  .features .container .features-row {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media (max-width: 992px) {
  .features .container {
    max-width: 750px;
  }
  .features .container .features-row {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (max-width: 767px) {
  .features {
    padding: 100px 0 0;
  }
  .features .container {
    max-width: 90%;
  }
  .features .container .features-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .features .container .features-row .features-card {
    width: 70%;
    margin-right: 0;
  }
}
@media (max-width: 468px) {
  .features {
    padding: 70px 0;
  }
  .features .features-card:last-child {
    margin-bottom: 0;
  }
}

.features-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px 0 0;
}

.features-card {
  -ms-flex-preferred-size: 370px;
      flex-basis: 370px;
  margin: 0 15px 70px 0;
}
.features-card .features-card__icon {
  text-align: center;
  font-size: 50px;
  line-height: 55px;
  color: #ff4343;
  margin-bottom: 30px;
}
.features-card .features-card__title {
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 900;
  line-height: 1.75rem;
  text-align: center;
  text-transform: uppercase;
  color: #2d3033;
  margin-bottom: 25px;
}
.features-card .features-card__text {
  font-family: "Raleway", sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.313rem;
  color: #6c7279;
  text-align: center;
}
@media (max-width: 1200px) {
  .features-card .features-card__icon {
    font-size: 46px;
  }
  .features-card .features-card__title {
    font-size: 1.3rem;
  }
  .features-card .features-card__text {
    font-size: 1.1rem;
  }
}
@media (max-width: 992px) {
  .features-card {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 40%;
            flex: 1 1 40%;
  }
}
@media (max-width: 468px) {
  .features-card {
    margin-bottom: 50px;
  }
  .features-card .features-card__title {
    font-size: 1.2rem;
  }
  .features-card .features-card__text {
    font-size: 1.1rem;
  }
}

.work {
  /* padding: 116px 0; */
  /* @media (min-width: 1250px) {
    padding: 0 0 90px 0;
  } */
}

.work-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 1400px) {
  .work-row {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.work-card {
  border: 1px solid #fff;
  position: relative;
  /*  @media (min-width: 1250px) {
    flex: 0 1 10%;
  } */
}
.work-card .card-img {
  overflow: hidden;
}
.work-card .card-img img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
@media (min-width: 1024px) {
  .work-card {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 25%;
            flex: 0 1 25%;
  }
}
@media (max-width: 1024px) {
  .work-card {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 33.333%;
            flex: 1 1 33.333%;
  }
  .work-card:nth-child(1), .work-card:nth-child(2) {
    display: none;
  }
}
@media (max-width: 767px) {
  .work-card {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }
  .work-card:nth-child(3), .work-card:nth-child(4) {
    display: none;
  }
}

.card-content {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  -webkit-transform: rotateY(90deg);
          transform: rotateY(90deg);
  -webkit-transform-origin: left;
          transform-origin: left;
  background-color: rgba(255, 67, 67, 0.8);
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}
.card-content__title {
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 900;
  line-height: 1.75rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 35px;
}
@media (min-width: 1250px) {
  .card-content__title {
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 900;
    line-height: 1.1rem;
    margin-bottom: 10px;
  }
}
.card-content__description {
  font-family: "Raleway", sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.313rem;
  text-align: center;
}
@media (min-width: 1250px) {
  .card-content__description {
    font-family: "Raleway", sans-serif;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem;
  }
}
@media (max-width: 468px) {
  .card-content__title {
    font-size: 1rem;
    line-height: 1.2rem;
    margin-bottom: 10px;
  }
  .card-content__description {
    font-size: 0.9rem;
    line-height: 1rem;
  }
}

.work-card:hover > .card-content {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.work-card:hover > .card-img img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.team {
  padding: 114px 0;
}
@media (max-width: 1200px) {
  .team .container {
    max-width: 970px;
  }
  .team .container .team-row {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .team .container .team-row .team-card {
    max-width: 40%;
    text-align: center;
  }
  .team .container .team-row .team-card .avatar img {
    margin: 0 auto 30px;
  }
  .team .container .team-row .team-card .person-link {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 992px) {
  .team .container {
    max-width: 720px;
  }
  .team .container .team-row {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .team .container .team-row .team-card {
    max-width: 45%;
  }
}
@media (max-width: 768px) {
  .team {
    padding-bottom: 60px;
  }
  .team .container {
    max-width: 540px;
  }
  .team .container .team-row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .team .container .team-row .team-card {
    max-width: 90%;
  }
}
@media (max-width: 576px) {
  .team {
    padding-top: 80px;
  }
  .team .container {
    max-width: 100%;
  }
  .team .team-card {
    max-width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .team .team-card .avatar {
    margin-right: 15px;
  }
  .team .team-card .avatar img {
    height: 170px;
    width: 170px;
  }
  .team .team-card .person-wrap {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .team .team-card .resume {
    font-size: 1.1rem;
    line-height: 1.3rem;
    margin-bottom: 15px;
  }
}
@media (max-width: 402px) {
  .team .container {
    max-width: 100%;
  }
  .team .team-card {
    max-width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .team .team-card .avatar {
    margin-right: 0px;
  }
  .team .team-card .avatar img {
    height: 150px;
    width: 150px;
  }
  .team .team-card .resume {
    font-size: 1rem;
  }
  .team .team-card .person-link li {
    margin: 0 15px;
  }
}

.team-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}
@media (min-width: 1201px) {
  .team-row {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.team-card {
  max-width: 270px;
  margin: 0 15px;
  padding-bottom: 30px;
}
.team-card .avatar img {
  display: block;
  margin-bottom: 30px;
  -webkit-box-shadow: 0 0 10px #2d3033;
          box-shadow: 0 0 10px #2d3033;
  height: 200px;
  width: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.team-card .name {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  font-family: "Kaushan Script", cursive;
  color: #2d3033;
  margin-bottom: 6px;
}
.team-card .position {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  color: #ff4343;
  text-transform: uppercase;
  margin-bottom: 18px;
}
.team-card .resume {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  color: #6c7279;
  margin-bottom: 38px;
}
.team-card .person-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.team-card .person-link li {
  font-size: 30px;
  margin-right: 10px;
  color: #6c7279;
  opacity: 0.9;
}
.team-card .person-link li .fa-facebook-square {
  background: linear-gradient(27deg, #3181ee 0%, #0063ff 100%);
  -webkit-background-clip: text;
          background-clip: text;
}
.team-card .person-link li .fa-twitter-square {
  background: linear-gradient(27deg, #31eee9 0%, #00b0ff 100%);
  -webkit-background-clip: text;
          background-clip: text;
}
.team-card .person-link li .fa-linkedin {
  background: -webkit-gradient(linear, left top, right top, color-stop(42%, #0d59e3), to(#0d61ee));
  background: linear-gradient(90deg, #0d59e3 42%, #0d61ee 100%);
  -webkit-background-clip: text;
          background-clip: text;
}
.team-card .person-link li .fab {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.team-card .person-link li .fab:hover {
  color: transparent;
}

.testimonials-wrapper {
  height: 100%;
  /* padding: 50px; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slick-slider {
  min-width: 0;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.slider {
  position: relative;
  padding: 0px 60px;
}
@media (max-width: 768px) {
  .slider {
    padding: 0 40px;
  }
}
@media (max-width: 576px) {
  .slider {
    padding: 0 15px;
  }
}

.slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin: -45px 0px 0px 0px;
  z-index: 10;
  font-size: 0;
  width: 60px;
  height: 90px;
  border: none;
  background-color: transparent;
}

.slider .slick-arrow.slick-prev {
  left: 0;
}

.slider .slick-arrow.slick-prev::before {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-size: 40px;
  font-weight: 600;
  display: inline-block;
  color: #2d3033;
}

.slider .slick-arrow.slick-next {
  right: 0;
}

.slider .slick-arrow.slick-next::after {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-size: 40px;
  font-weight: 600;
  display: inline-block;
  color: #2d3033;
  right: 0;
}

.slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.slider__item .slider-img {
  width: 50%;
}
.slider__item .slider-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.slider__item .slider-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  padding: 20px;
  width: 50%;
  background: linear-gradient(40deg, #691e4e 0%, #6e234c 100%);
}
.slider__item .slider-text .slider-text-wrap {
  margin: auto;
  max-width: 470px;
}

.slider__item:nth-child(even) > .slider-text {
  background: linear-gradient(40deg, #353c65 0%, #363b6e 100%);
}

.slider-text-wrap p {
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 49px;
  font-family: "Cardo", serif;
  font-style: italic;
  color: #dfdfdf;
}
.slider-text-wrap p span {
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px;
  color: #dfdfdf;
}

@media (max-width: 1200px) {
  .slider-text-wrap p {
    font-size: 25px;
    line-height: 31px;
  }
  .slider-text-wrap p span {
    font-size: 11px;
  }
}
@media (max-width: 992px) {
  .slider-text-wrap {
    max-width: 100%;
  }
  .slider-text-wrap p {
    font-size: 23px;
    line-height: 28px;
  }
  .slider-text-wrap p span {
    font-size: 11px;
  }
}

@media (max-width: 768px) {
  .slick-track {
    height: 100%;
  }
}

@media (max-width: 768px) {
  .slick-arrow {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .slider__item .slider-img {
    width: 70%;
  }
  .slider__item .slider-text {
    width: 30%;
  }
  .slider__item .slider-text .slider-text-wrap p:first-child {
    display: none;
  }
  .slider__item .slider-text p {
    font-size: 15px;
    line-height: 16px;
  }
}
@media (max-width: 576px) {
  .slider__item {
    width: 100vw;
  }
  .slider__item .slider-img {
    width: 100%;
  }
  .slider__item .slider-text {
    display: none;
  }
}

.slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
}
@media (max-width: 576px) {
  .slider .slick-dots {
    margin-top: 0px;
  }
}

.slider .slick-dots li {
  margin-right: 10px;
}
.slider .slick-dots li:last-child {
  margin-right: 0;
}

.slider .slick-dots button {
  font-size: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: none;
  background-color: burlywood;
}

.slider .slick-dots li.slick-active button {
  background-color: transparent;
  border: 1px solid burlywood;
  /* box-shadow: 2px 2px 17px -1px rgba(202, 83, 206, 0.75); */
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  -webkit-transition: background-color 0.3s ease, -webkit-transform 0.5s ease;
  transition: background-color 0.3s ease, -webkit-transform 0.5s ease;
  transition: transform 0.5s ease, background-color 0.3s ease;
  transition: transform 0.5s ease, background-color 0.3s ease, -webkit-transform 0.5s ease;
}

.download {
  padding: 114px 0;
}
.download .container {
  text-align: center;
}
@media (max-width: 768px) {
  .download {
    padding-top: 80px;
  }
}
@media (max-width: 576px) {
  .download {
    padding-top: 70px;
  }
}

.download-title {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 35px;
  color: #2d3033;
  margin-bottom: 25px;
}

.download-subtitle {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
  color: #2d3033;
  margin-bottom: 48px;
}

.download-link {
  max-width: 370px;
  margin: auto;
  text-align: center;
  background-color: #ff4343;
  border-radius: 25px;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}
.download-link a {
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 900;
  line-height: 1.75rem;
  color: #fff;
  text-transform: uppercase;
  line-height: 80px;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}
@media (max-width: 767px) {
  .download-link {
    max-width: 300px;
  }
  .download-link a {
    line-height: 70px;
  }
}
@media (max-width: 767px) {
  .download-link {
    max-width: 300px;
  }
  .download-link a {
    line-height: 70px;
  }
}
@media (max-width: 360px) {
  .download-link {
    max-width: 280px;
  }
  .download-link a {
    line-height: 60px;
    font-size: 1.3rem;
  }
}

.footer-section {
  padding: 71px 0 67px;
  background-color: #353C65;
  color: #dfdfdf;
}

.footer-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}

.footer-row__item {
  max-width: 370px;
  margin: 0 15px;
}
.footer-row__item .title {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 29px;
}
.footer-row__item .description {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 40;
  line-height: 21px;
  text-transform: capitalize;
  text-align: center;
}
.footer-row__item .footer-links-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 49px;
}
.footer-row__item .footer-links-list li {
  font-size: 36px;
  margin-right: 27px;
}
.footer-row__item .footer-links-list li:last-child {
  margin-right: 0px;
}

.footer {
  padding: 24px 0;
  background-color: #2C3154;
}

.footer-row-bottom {
  padding-top: 24px;
  background-color: #353C65;
}

.copyright {
  max-width: 370px;
  margin: auto;
}
.copyright p {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  color: #6c7279;
}
.copyright p span {
  color: #dfdfdf;
}

html {
  font-family: "Cardo", serif;
  font-family: "Kaushan Script", cursive;
  font-family: "Raleway", "Montserrat", "Open Sans", "Poppins", sans-serif;
}

.container {
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
}