* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

:focus,:active{outline: none;}
a:focus,a:active,a:link{outline: none; color: inherit;}

button{cursor: pointer;}
a:visited{text-decoration: none; color: inherit;}
a:hover{text-decoration: none;}
