.download {
  padding: 114px 0;
  .container {
    text-align: center;
  }
  @media (max-width:768px) {
    padding-top: 80px;
  }
  @media (max-width:576px) {
    padding-top: 70px;
  }
}
.download-title {
  @include font(30px, 500, 35px);
  color: $black;
  margin-bottom: 25px;
}
.download-subtitle {
  @include font(18px, 700, 21px);
  text-transform: uppercase;
  color: $black;
  margin-bottom: 48px;
}
.download-link {
  max-width: 370px;
  margin: auto;
  text-align: center;
  background-color: $orange;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.4s ease;
  a {
    @include font(1.5rem, 900, 1.75rem);
    color: $white;
    text-transform: uppercase;
    line-height: 80px;
    transition: 0.4s ease;
  }
  @media (max-width: 767px) {
    max-width: 300px;
    & a {
      line-height: 70px;
    }
  }
  @media (max-width: 767px) {
    max-width: 300px;
    & a {
      line-height: 70px;
    }
  }
  @media (max-width: 360px) {
    max-width: 280px;
    & a {
      line-height: 60px;
      font-size: 1.3rem;
    }
  }
}
.download-link {
  position: relative;
}
.download-link::after {
  content: '\f381';
  font-family: 'Font Awesome 5 Free';
  font-weight: 600;
  font-size: 25px;
  color: white;
  position: absolute;
  display: block;
  top: 115%;
  right: 4%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out;
}
.download-link:hover::after {
  animation: downl 1s linear 1 forwards;
}
@keyframes downl {
  0% {
    top: 115%;
  }
  20% {
    top: 30%;
  }
  40% {
    top: 50%;
  }
  60% {
    top: 40%;
  }
  70% {
    top: 50%;
  }
  85% {
    top: 45%;
  }
  100% {
    top: 50%;
  }
}
.download-link:hover {
  background-color: rgb(248, 36, 36);
}