.firstscreen {
  padding: 39px 0 120px;
  background: url('../img/bg.png');
  @include bg;
  position: relative;
  &::after {
    @include mask;
  }
  .container {
    position: relative;
    z-index: 1;
  }
  @media (max-width:1300px) {
    min-height: 100vh;
  }
}
.header {
  padding-bottom: 36px;
  margin-bottom: 130px;
  border-bottom: 1px solid #babbc5;
  .header-wrap {
    @include flex;
  }
  @media (max-width: 767px) {
    margin-bottom: 80px;
  }
}
.header-logo {
  @include font(2.25rem, 700, 1.31rem);
  text-transform: uppercase;
  color: rgb(101, 105, 128);
  transition: 0.3s ease;
  &:after {
    content: 'BOX';
    display: inline-block;
    @include font(2.25rem, 400, 1.31rem);
    text-transform: uppercase;
    color: $white;
    margin-left: -5px;
    transition: 0.3s ease;
  }
  &:hover {
    color: $white;
  }
  &:hover::after {
    color: rgba(255, 67, 67, 0.7);
  }
}
.header-nav {
  @include flex;
  align-items: center;
}
.nav-list {
  li {
    display: inline-block;
    margin-left: 77px;
    @include font(13px, 700, 15px);
    color: $white;
    text-transform: uppercase;
    position: relative;
    transition: 0.3s ease;
    &::after {
      @include nav;
      transition: 0.4s ease;
    }
    &:hover{
      color: rgba(255, 67, 67, 0.9);
    }
    &:hover::after {
      transform: translateY(30px);
      background-color: $white;
      width: 100%;
    }
    // -------Медиа для ссылок в шапке и для бургера-------
    @media (max-width: 1024px) {
      margin-left: 30px;
    }
    @media (max-width: 767px) {
      display: none;
    }
  }
}
.firstscreen-title {
  @include font(4rem, 900, 4.69rem);
  text-transform: uppercase;
  text-align: center;
  color: $white;
  margin-bottom: 32px;
  // -----медиа для ЗАГОЛОВКА
  @media (max-width: 1200px) {
    font-size: 3rem;
    line-height: 3.69rem;
  }
  @media (max-width: 767px) {
    font-size: 2rem;
    line-height: 2.69rem;
  }
}
.firstscreen-subtitle {
  @include font(1.5rem, 400, 1.56rem);
  text-align: center;
  color: $white;
  margin-bottom: 80px;
  @media (max-width: 767px) {
    font-size: 1.2rem;
    line-height: 1.3rem;
  }
}
.firstscreen-link {
  max-width: 370px;
  margin: auto;
  text-align: center;
  background-color: $orange;
  border-radius: 25px;
  transition: 0.4s ease;
  &:hover > a {
    color: $orange;
  }
  &:hover {
    background-color: $white;
  }
  a {
    @include font(1.5rem, 900, 1.75rem);
    color: $white;
    text-transform: uppercase;
    line-height: 80px;
    transition: 0.4s ease;
  }
  @media (max-width: 767px) {
    max-width: 300px;
    & a {
      line-height: 70px;
    }
  }
  @media (max-width: 767px) {
    max-width: 300px;
    & a {
      line-height: 70px;
    }
  }
  @media (max-width: 360px) {
    max-width: 280px;
    & a {
      line-height: 60px;
      font-size: 1.3rem;
    }
  }
}
// ----Стили для бургера------
.burger--none {
  display: none;
  @media (max-width: 767px) {
    display: block;
    margin-top: -5px;
  }
}
.burger {
  width: 30px;
  height: 30px;
  border: 2px solid #ada9a9;
  padding: 3px 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-sizing: border-box;
}
.burger__line {
  border-top: 2px solid #ada9a9;
}