.footer-section {
  padding: 71px 0 67px;
  background-color: #353c65;
  color: rgb(223, 223, 223);
}

// ВЕРХНЯЯ ЧАСТЬ ФУТЕРА
.footer-row {
  @include flex;
  margin: 0 -15px;
  @media (min-width: 992px) {
    .footer-row__item {
      width: 30%;
    }
  }
}
.footer-row__item {
  max-width: 370px;
  /* width: 30%; */
  margin: 0 15px;
  .title {
    @include font(18px, 700, 21px);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 29px;
  }
  .description {
    @include font(18px, 40, 21px);
    text-transform: capitalize;
    text-align: center;
  }
  .footer-links-list {
    @include flex;
    justify-content: center;
    margin-top: 49px;
    li {
      font-size: 36px;
      margin-right: 27px;
      &:last-child {
        margin-right: 0px;
      }
      .fa-facebook-square {
        @include facebook;
      }
      .fa-twitter-square {
        @include twitter;
      }
      .fa-linkedin {
        @include linkedin;
      }
      .fab {
        transition: 0.3s ease;
      }
      .fab:hover {
        color: transparent;
      }
    }
  }
}

// ----Медиа запросы-----
.footer-section {
  @media (max-width: 1200px) {
    .container {
      max-width: 960px;
      .footer-row {
        flex-wrap: nowrap;
      }
    }
  }
  @media (max-width: 992px) {
    .container {
      max-width: 720px;
      .footer-row {
        flex-wrap: wrap;
      }
    }
  }
  @media (max-width: 768px) {
    .container {
      max-width: 540px;
      .footer-row {
        flex-direction: column;
        align-items: center;
        .footer-row__item {
          max-width: 90%;
          margin-bottom: 40px;
          &:last-child {
            margin-bottom: 0px;
          }
          .title {
            text-decoration: underline;
          }
          .description {
            font-size: 17px;
          }
          .footer-links-list {
            margin-top: 0px;
          }
        }
      }
    }
  }
  @media (max-width: 576px) {
    .container {
      max-width: 90%;
      .footer-row {
        .footer-row__item {
          border-bottom: 1px solid $white;
          padding-bottom: 15px;
          .title {
            margin-bottom: 10px;
            text-decoration: none;
          }
          .description {
            font-size: 16px;
          }
        }
      }
    }
  }
}
// НИЖНЯЯ ЧАСТЬ ФУТЕРА
.footer {
  padding: 24px 0;
  background-color: #2c3154;
}
.footer-row-bottom {
  padding-top: 24px;
  background-color: #353c65;
}
.copyright {
  max-width: 370px;
  margin: auto;
  p {
    @include font(18px, 400, 21px);
    text-align: center;
    color: $grey;
    span {
      color: rgb(223, 223, 223);
    }
    @media (max-width: 576px) {
      font-size: 16px;
    }
    @media (max-width: 350px) {
      font-size: 15px;
    }
  }
}
