.work {
  /* padding: 116px 0; */
  /* @media (min-width: 1250px) {
    padding: 0 0 90px 0;
  } */
}
.work-row {
  @include flex;
  justify-content: center;
  @media (min-width: 1400px) {
    flex-wrap: nowrap;
  }
}
.work-card {
  border: 1px solid $white;
  position: relative;
  .card-img {
    overflow: hidden;
    img {
      display: block;
      object-fit: cover;
      width: 100%;
      height: 100%;
      transition: 0.5s ease;
    }
  }
  // медиа запросы для ряда картинок
  /*  @media (min-width: 1250px) {
    flex: 0 1 10%;
  } */
  @media (min-width: 1024px) {
    flex: 0 1 25%;
  }
  @media (max-width: 1024px) {
    &:nth-child(1),
    &:nth-child(2) {
      display: none;
    }
    flex: 1 1 33.333%;
  }
  @media (max-width: 767px) {
    &:nth-child(3),
    &:nth-child(4) {
      display: none;
    }
    flex: 1 1 50%;
  }
}
.card-content {
  @include card-mask;
  &__title {
    @include font(1.5rem, 900, 1.75rem);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 35px;
    @media (min-width: 1250px) {
      @include font(1rem, 900, 1.1rem);
      margin-bottom: 10px;
    }
  }
  &__description {
    @include font(1.125rem, 400, 1.313rem);
    text-align: center;
    @media (min-width: 1250px) {
      @include font(0.9rem, 400, 1rem);
    }
  }
  @media (max-width: 468px) {
    &__title {
      font-size: 1rem;
      line-height: 1.2rem;
      margin-bottom: 10px;
    }
    &__description {
      font-size: 0.9rem;
      line-height: 1rem;
    }
  }
}
.work-card:hover > .card-content {
  transform: rotateY(0deg);
}
.work-card:hover > .card-img img {
  transform: scale(1.1);
}
